# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# Pipenv
Pipfile.lock

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Flask specific
instance/
*.db
*.sqlite3

# VSCode
.vscode/

# Pytest
.cache
.pytest_cache/

# Logs
*.log

# dotenv
.env
*.env

# MySQL dump
*.sql

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
